# Database
DATABASE_URL="postgresql://USER:***@HOST/neondb?sslmode=require&channel_binding=require"

# SMTP (Gmail)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="Your Gmail address"
SMTP_PASS="*** --- IGNORE ---"
EMAIL_FROM="BOW <Your Gmail address>"

# Auth
AUTH_COOKIE_NAME="*** --- IGNORE ---"

# App
APP_URL="http://192.168.0.22:3000"
