# Database
DATABASE_URL="postgresql://USER:***@HOST/neondb?sslmode=require&channel_binding=require"

# SMTP (Gmail)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="baitowallet@gmail.com"
SMTP_PASS="lrli vfdj ivvt izwi"
EMAIL_FROM="BOW <baitowallet@gmail.com>"

# Auth
AUTH_COOKIE_NAME="bow_session"

# App
APP_URL="http://192.168.0.22:3000"
